filmdata/
newdata/
experiments/
old code/
.idea/
ratings.list
IMDB_movie_data_15000FRPDURING.txt
SVMResults/
SVMTrimmed/
Clusters/
Directions/
scores/
KDNearest/
KNNScores/
Rules/
Rankings/
RIPPERk/
RuleType/
Rankings (DESKTOP-H0682F7's conflicted copy 2016-06-14).py
films 100 average.png
gini_download.py
test.txt
